



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{

    height: 100%;
}

body {
    
    background-color: #121212;
    color: #f2f2f2;
    font-family: sans-serif;
    padding: 8px;
    height: 100%;
    

}

.container{

    display: flex;
    height: 100%;
}


aside {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 8px;


}

aside nav {
    background-color: #212121;
    border-radius: 6px;
    padding: 4px 0;

}

.nav__item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 8px 16px;
}

.nav__item i {
    font-size: 20px;

}

.aside__content{
    display: flex;
    flex-direction: column;
    background-color: #212121;
    border-radius: 6px;
    gap: 16px;
    flex: 1;
    
}

.aside__header{
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    

}

.aside__header i{

font-size: 20px;

}
.aside__title{

    display: flex;
    gap: 10px;
    font-weight: 600;
}


.aside__playlist{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    border-radius: 4px;
    margin: 0 8px;
    padding:  12px;
    gap: 12px;
    align-items: flex-start;
   
}

.aside__playlist h3{
    font-size: 16px;

}

.aside__playlist h4{
    font-size: 14px;
}

.aside__playlist a{
    background-color: #f2f2f2;
    color: #121212;
    padding: 8px 16px;
    border-radius: 999px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.aside__footer__title{
    display: flex;
    flex-direction: column;
    background-color:#353535 ;
    margin: 0 8px;
    padding:  12px;
    gap: 12px;
    border-radius: 4px 4px 0 0;
    

}

.aside__footer__title h3{
    font-size: 16px;

}

.aside__footer__title h4{
    font-size: 14px;
}

.aside__footer__links {
    padding: 24px 16px;
}

.aside__footer__links ul{

    display: flex;
    list-style: none;
    gap: 16px;
    flex-wrap: wrap;

}

.aside__footer__links a{

    
    text-decoration: none;
    font-size: 12px;
    color: #a1a1a1;
    
}

.aside__footer button{
   display: flex;
    background: none;
    outline: none;
    border: 1px solid #a1a1a1;
    border-radius: 999px;
    padding: 8px 16px;
    color: #f2f2f2;
    font-weight: 600;
    align-items: center;
    gap: 10px;
    margin-left: 16px;

}

.aside__footer button i{
    
    font-size: 20px;
}

main{

    display: flex;
    flex-direction: column;
    background-color: #151515;
    margin-left:10px ;
    border-radius: 4px;
    padding: 20px;
    flex: 1;
    
}

header {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
    

}

.header__action{

    display: flex;
    flex-direction: row;
    
    
}

.header__links{

    display: flex;
    justify-content: space-between;
}


.header__arrows i{

    padding: 10px;
    margin-right: 10px;

}

.header__search{

    text-align: center;
    margin-bottom: 10px  ;
    margin-left: 5px;
    max-width: 300px;
    background: rgb(255, 255, 255,0.2);
    display: flex;
    border-radius: 50px;
    padding: 7px 50px 7px 5px;
    
    

}

.header__search input{

    background: transparent;
    border: 0;
    outline: none;
    font-size: 12px;
    padding :  0 40px 0 0;
}

.link__login a{

    background-color: #f2f2f2;
    color: #121212;
    padding: 10px 20px ;
      
    border-radius: 999px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    margin-right: 15px;

}

.link__signin a{
    
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    color: #a1a1a1;
    padding: 10px;

}

section{

    background-color: #151515;
    padding: 5px;
}

h4{

    padding: 20px;
    font-weight: 900;
    font-size: 20px;
}

section{

    display: block;
    flex-direction: row;
    border: 15% solid #212121;
}



.div__item {

    margin: 7px;
    padding: 7px;
    border: 1px solid white;
}

.div__item .div__1{

    width: 100px;
    height: 100px;
    border: 1px white;
}


/*.arrow__input{

    display: flex;
    justify-content: space-between;

}

.links{

    display: flex;
    justify-content: space-between;



}

/*.container__main header{

    display: flex;
    
    
}

.header__item{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.log__in a{


    background-color: #f2f2f2;
    color: #121212;
    padding: 10px 20px;
      
    border-radius: 999px;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    margin-right: 30px;
}
*/